<form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
    <input required type="email" name="email" placeholder="Enter an email" >
    <input required type="password" name="password" placeholder="and password" >
    <button type="submit" class="login login-submit">Sign-in</button>
</form>