nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') WebSiteName
    ul.nav.navbar-nav
      li.active
        a(href='#') Home
      li
        a(href='#') Page 1
      li
        a(href='#') Page 2
      li
        a(href='#') Page 3
